
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');




.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}


.navLinks {

  display: flex;
  gap: 30px;          /* space between items */
  margin-left: auto;   /* pushes these items to the right */
  list-style: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.navLinks li {
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.2s;
}

.navLinks li:hover {
  background: rgba(255, 255, 255, 0.1); /* glassy hover effect */
  border-radius: 8px;
}

.navLinks li.active {
  padding: 7px;
  background: black; /* highlighted for active page */
  color: white;
  border-radius: 8px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;

}